# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Build/Staging output
stage/
*.zip

# Large Dictionary Files (Downloaded using download_dict.ps1)
/dictionary/cedict.txt
/dictionary/cedict.zip

# Agent and Prompt Instruction files
gemini-code-*.md
